@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #1A75E8;
    --primary-color-hover:#368ffc;
    --second-color: #0F1137;
    --background-color: #F2F3F6;
    --background0-second-color: #FAFAFA;
    --text-color: #686868;
    --text-white: #FFF;
    --text-black: #000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--text-white);
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.7rem;
    color: var(--text-black);
}

h2{
    font-size: 2.5rem;
    color: var(--text-black);
}

h3{
    font-size: 2.5rem;
    color: var(--text-black);
}

h4{
    font-size: 2rem;
    color: var(--text-black);
}

p{
    font-size: 1rem;
    color: var(--text-black);
    font-weight: 500;
}
 
a {
    text-decoration: none;
    color: var(--text-black);
    font-weight: 500;
}

span{
    color: var(--primary-color);
}

nav ul {
    display: flex;
    gap: 10%;
}

ul {
    list-style: none;
}

.container {
    max-width: 1264px;
    margin: 0px auto;
}

.button {
    background-color: var(--primary-color);
    padding: 15px 35px;
    border-radius: 10px;
    color: var(--text-white);
    transition: 0.3s;
    width: 160px;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.button.button-transparent {
    background-color: transparent;
    color: var(--text-black);
}

/* HEADER */

header {
    background-color: var(--background-color);
    padding: 0px 32px;
}

.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
}

.navbar-desktop .navbar--item a{
   border-bottom: 3px solid transparent; 
   transition: 0.3s;
}

.navbar-desktop .navbar .navbar--item a:hover{
    border-bottom: 3px solid #1A75E8; 
    color: var(--primary-color);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.navbar-mobile {
    display: none;
}

/* SECTION BANNER */

main {
    background-color: var(--background-color);
    padding: 0px 32px;
}

.banner-area {
    display: flex;
    padding: 10% 0px;
}

.banner-desc {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}

.banner-image {
    flex: 1;
}

.banner-image img{
    width: 550px;
    position: absolute;
    right: 0;
}

@media (max-width: 1100px) {
    .banner-image img{
        width: 450px;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .menu-icon {
        display: block;
    }

    .navbar-desktop {
        display: none;
    }

    .login-area {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .navbar-mobile.closed {
        display: none;
    }

    .navbar-mobile.open {
        display: block;
    }

    .navbar-mobile .navbar{
        flex-direction: column;
        gap: 0.5rem;
        text-transform: uppercase;
        padding: 10px 0px;
    }

    .navbar-mobile .navbar .navbar--item:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
    }

    .banner-area {
        flex-direction: column;
    }

    .banner-image img{
        display: none;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 12px;
    }
}



